# Logs
logs/
log/
*.csv

horizon_sweep_plot.py
torque_limit_sweep.py
torque_limit_sweep_output/
horizon_sweep_output/
horizon_sweep_plots/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
*.egg

# MuJoCo
*.mjb

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/